	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type='text/javascript'>
		$(document).ready(function() {
			$('form').submit(function() {
				console.log('hey.');
				window.location.href += 'query/' + $('input').val();
				return false;
			});
		});
	</script>

<h1 id='title'>Twitter Links</h1>	
<p id='intro'>Twitter Links displays links from tweets about a search term in real time.  The tweets are analyzed to determine whether people have a generally positive or negative attitude about the term.  Enter a query and see what Twitter finds!</p>
<div id='search-container'>
	Search Twitter:
	<form id='search'>
		<input type='text' size='23' />
		<input type='submit' value='Search' />
	</form>
</div>

<footer>
	&copy; 2012 <a href='http://www.zackmichener.com/'>Zack Michener</a>
</footer>