	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>
		var socket = io.connect("localhost");
 		socket.on("update", function(data) {
 			console.log(data);
			$("#tweets").append("<div class=tweet style='border-top: 1px solid black; margin-top: 10px; border-top: 10px;'>" + data.text.text + "</div>");
		});
	</script>

<h1 id='title'>Query: <%- title %></h1>
<div id='tweets'></div>
