	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>
		var recentTweet, bufferedTweet = {};
		var socket = io.connect("localhost");
		var numTweets = 0;

		var clk = window.setInterval(function() {
			if (recentTweet !== bufferedTweet) {
				recentTweet = bufferedTweet;
				$('#count').html(numTweets);
	 			if (numTweets == 0) {
	 				$('#wait-msg').fadeOut();
	 			}
	 			else {
	 				var hue = ((bufferedTweet.text.sentiment + 10) * 127) / 20;
	 				console.log(hue);
	 				$("<div class=tweet style='border-left-color: hsl(" + hue + ",70%,50%);'>" + bufferedTweet.text.text + "<b>" + bufferedTweet.text.sentiment + "</b></div>").prependTo($("#tweets")).hide().slideDown(500);
	 			}
	 			if (numTweets >= 100) {
	 				$('#tweets').children().last().remove();
	 			}

				numTweets++;
			}
		}, 500);

 		socket.on("update", function(data) {
 			bufferedTweet = data;
		});
	</script>

<h1 id='title'>Query: <%- title %> (<span id='count'></span>)</h1>
<div id='tweets-container'>
	<div id='tweets'></div>
</div>	
<div id='wait-msg'>Waiting for Tweets...</div>