	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>
		var socket = io.connect("localhost");
		var numTweets = 0;
 		socket.on("update", function(data) {
 			if (numTweets > 10) {
 				socket.disconnect();
 			}
 			else {
 				numTweets++;
 				$("<div class=tweet style='border-bottom: 1px solid black; margin-bottom: 10px; padding-bottom: 10px;'>" + data.text.text + "</div>").prependTo($("#tweets")).hide().slideDown();
 			}
		});
	</script>

<h1 id='title'>Query: <%- title %></h1>
<div id='tweets'></div>
