	<link rel='stylesheet' href='/stylesheets/query.css' />
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>
		var curTweet, bufferedTweets = [];
		var socket = io.connect("localhost");
		var numTweets = 0, totalSentiment = 0;

		var clk = window.setInterval(function() {
			if (bufferedTweets.length > 0) {
				curTweet = bufferedTweets.shift();

				$('#count').html(numTweets);
	 			if (numTweets == 0) {
	 				$('#wait-msg').fadeOut();
	 			}
	 			else {
	 				totalSentiment += curTweet.text.sentiment;
	 				$('#sentiment-total').html(totalSentiment);

	 				var hue = ((curTweet.text.sentiment + 10) * 120) / 20;
	 				$("<div class=tweet style='border-left-color: hsl(" + hue + ",70%,50%);'>" + curTweet.text.text + "</div>").prependTo($("#tweets")).hide().slideDown(500);
	 			}
	 			if (numTweets >= 100) {
	 				$('#tweets').children().last().remove();
	 			}

	 			if (numTweets >= 5) {
		 			if (totalSentiment > 0.5*numTweets) {
		 				$('#sentiment').html('Twitter likes <%- title %>.');
		 			}
		 			else if (-totalSentiment > 0.5*numTweets) {
		 				$('#sentiment').html('Twitter does not like <%- title %>.');
		 			}
		 			else {
		 				$('#sentiment').html('Twitter is divided about <%- title %>.');
		 			}
		 		}

				numTweets++;
			}
		}, 800);

 		socket.on("update", function(data) {
 			if (bufferedTweets.length < 20) {
 				bufferedTweets.push(data);
 			}
		});
	</script>

<a href='/'>&larr; Back</a>
<h1 id='title'>Query: <%- title %></h1>
<p id='sentiment'>Analyzing Twitter's feelings...</p>
<div id='tweets-container'>
	<div id='tweets'>
		<div id='wait-msg'>Waiting for Tweets...</div>
	</div>
</div>