	<link rel='stylesheet' href='/stylesheets/query.css' />
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>
		var paused = false;
		var filter = false;		// whether to filter at all
		var goodFilter = false;	// if there is a filter, if it is for good or bad tweets
		var curTweet, bufferedTweets = [];
		var socket = io.connect("localhost");
		var numTweets = 0, totalSentiment = 0;


 		socket.on("update", function(data) {
 			if (data.text.entities.urls.length > 0 
 					&& bufferedTweets.length < 20) {
 				if (bufferedTweets[bufferedTweets.length-1] !== data)
 					bufferedTweets.push(data);
 			}
		});

		$(document).ready(function() {

			var clk = window.setInterval(function() {
				if (!paused && bufferedTweets.length > 0) {

					curTweet = bufferedTweets.shift();

					if (filter) {
						if (goodFilter && curTweet.text.sentiment <= 0)
							return;
						if (!goodFilter && curTweet.text.sentiment >= 0)
							return;
					}

					console.log(curTweet);

					$('#count').html(numTweets);
		 			if (numTweets == 0) {
		 				$('#wait-msg').fadeOut();
		 			}
		 			else {
		 				totalSentiment += curTweet.text.sentiment;
		 				$('#sentiment-total').html(totalSentiment);

		 				var hue = ((curTweet.text.sentiment + 10) * 120) / 20;
		 				$("<div class='tweetbox'><a target='_blank' class='tweet-link' href='" + curTweet.text.entities.urls[0].url + "'>"
		 					+ "<div class=tweet style='border-left-color: hsl(" + hue + ",70%,50%);'>"
		 					+ "(" + curTweet.text.sentiment + ") "
		 					+ curTweet.text.text 
		 					+ "</div></a></div>").prependTo($("#tweets")).hide().slideDown(500);
		 			}
		 			if (numTweets >= 100) {
		 				$('#tweets').children().last().remove();
		 			}

		 			if (numTweets >= 3) {
			 			if (totalSentiment > 0.5*numTweets) {
			 				$('#sentiment').html('Twitter likes <%- title %>.');
			 			}
			 			else if (-totalSentiment > 0.5*numTweets) {
			 				$('#sentiment').html('Twitter does not like <%- title %>.');
			 			}
			 			else {
			 				$('#sentiment').html('Twitter is divided about <%- title %>.');
			 			}
			 		}

					numTweets++;
				}
			}, 800);

			$('#playpause').click(function() {
				paused = !paused;
				if (paused)
					$('#playpause').html('Resume');
				else
					$('#playpause').html('Pause');
			});

		});//document ready
	</script>

<h1 id='title'>Query: <%- title %></h1>
<p id='sentiment'>Analyzing Twitter's feelings...</p>
<ul>
	<li><a href='/' class='button'>Back</a>
	<li><a href='#' class='button' id='playpause'>Pause</a>
	<li><select class='button'>
			<option value='all'>All</option>
			<option value='good'>Good Tweets Only</option>
			<option value='bad'>Bad Tweets Only</option>
		</select>
</ul>

<div id='tweets-container'>
	<div id='tweets'>
		<div id='wait-msg'>Waiting for Tweets...</div>
	</div>
</div>

<footer>
	&copy; 2012 <a href='http://www.zackmichener.com/'>Zack Michener</a>
</footer>