body {
  padding: 50px;
  padding-top: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ddd;
}

a {
  color: #00B7FF;
}

#tweets {
	height: 400px;
	overflow-y: scroll;
	border-radius: 10px;
	background-color: #444;
	color: #eee;
	box-shadow: inset 0px 0px 10px black;
}

.tweet {
	padding: 10px;
	padding-top: 20px;
	border-top: 1px solid black;
	border-left: 5px solid;
}
.tweetbox:last-child {
	border-bottom: 1px solid black;
}

#tweets-container {
	border-radius: 10px;
	padding: 20px;
	background-color: #555;
	box-shadow: 0px 0px 20px #fff;
}

#wait-msg {
	padding: 20px;
}

#intro {
	width: 420px;
	text-align: justify;
	line-height: 18px;
}

#search-container {
	margin: 30px;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	box-shadow: 0px 0px 50px #fff;
}

#title {
	font-weight: normal;
	margin-top: 5px;
	font-size: 28px;
}

footer {
	font-size: 10px;
	position: fixed;
	bottom: 0px;
}

.button {
	padding: 5px;
	background: #555;
	border-radius: 5px;
	margin-right: 5px;
	color: #eee;
	height: 17px;
}

a.button:link {
	color: #eee;
	text-decoration: none;
	outline: none;
}
a.button:visited {
	color: #eee;
	text-decoration: none;
	outline: none;
}
a.button:hover {
	color: #eee;
	background-color: #666;
	text-decoration: none;
	outline: none;
}
a.button:active {
	color: #eee;
	text-decoration: none;
	outline: none;
}

ul {
	padding-left: 0px;
}
li {
	display: inline;
	float: left;
	list-style-type: none;
}
li:last-child {
	float: none;
}

li a {
	display: inline-block;
	width: 52px;
	text-align: center;
}

a.tweet-link {
	display: block;
	height: 100%;
}

a.tweet-link:link {
	color: #eee;
	text-decoration: none;
	outline: none;
}
a.tweet-link:visited {
	color: #eee;
	text-decoration: none;
	outline: none;
}
a.tweet-link:hover {
	color: #eee;
	background-color: #777;
	text-decoration: none;
	outline: none;
}
a.tweet-link:active {
	color: #eee;
	text-decoration: none;
	outline: none;
}

select.button {
	/*padding: 5px;*/
	height: 27px;
	font-size: 14px;
	border: none;
	outline: none;
}
.button option {
	font-size: 14px;
}