body {
  padding: 50px;
  padding-top: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ddd;
}

a {
  color: #00B7FF;
}

#tweets {
	height: 400px;
	overflow-y: scroll;
	border-radius: 10px;
	background-color: #444;
	color: #eee;
	box-shadow: inset 0px 0px 10px black;
}

.tweet {
	padding: 10px;
	padding-top: 20px;
	border-bottom: 1px solid black;
	/*margin-bottom: 10px;*/
	border-left: 5px solid;
	/*border-left-color: hsl(127, 50%, 50%);*/
}

#tweets-container {
	border-radius: 10px;
	padding: 20px;
	background-color: #555;
	box-shadow: 0px 0px 20px #fff;
}

#wait-msg {
	padding: 20px;
}

#intro {
	width: 420px;
	text-align: justify;
}

#search-container {
	margin: 30px;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	box-shadow: 0px 0px 50px #fff;
}

#title {
	font-weight: normal;
	margin-top: 35px;
}

footer {
	font-size: 10px;
	position: fixed;
	bottom: 0px;
}

.button {
	padding: 5px;
	background: #555;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #fff;
	margin-right: 5px;
}

a.button:link {
	color: #eee;
	text-decoration: none;
	outline: none;
}
a.button:visited {
	color: #eee;
	text-decoration: none;
	outline: none;
}
a.button:hover {
	color: #eee;
	text-decoration: none;
	outline: none;
}
a.button:active {
	color: #eee;
	text-decoration: none;
	outline: none;
}

ul {
	padding-left: 0px;
}
li {
	display: inline;
	list-style-type: none;
}